main {
    padding-bottom: 20px;
    margin-bottom: 0;
}

footer {
    margin-top: 0;
}


/* Bảng giỏ hàng */
table.table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table.table th {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 12px;
}

table.table td {
    text-align: center;
    padding: 12px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

table.table tr:last-child td {
    border-bottom: none;
}

table.table img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.quantity-input:focus {
    border-color: var(--primary);
    outline: none;
}

.btn.remove-btn {
    border-radius: 5px;
    font-size: 0.9rem;
    transition: var(--primary)
}

.btn.remove-btn:hover {
transform: translateY(-1px);
    background-color: #d9534f;
    color: white;
}

.secondary-btn {
    /* display: flex; */
    gap: 1rem;
    justify-content: center;
    background: var(--secondary);
    color: var(--text);
    box-shadow: 0 4px 15px rgba(255, 184, 0, 0.3);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
}

.secondary-btn:hover {
    background: #e6a600;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(255, 184, 0, 0.4);
}

.secondary-btn:active {
    transform: translateY(-1px);
}

/* Tổng tiền */
#total-price {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}
